td{
	width: 25px;
	height: 25px;
	border-collapse: collapse;
}
table{
	border-spacing: 0;
	border-collapse: collapse;
}
.tableData1{
	background-color: #654321;
}
.tableData2{
	background-color: tan;
}

.evenDate{
	margin: 0;
	color: white;
	font-size: 30px;
}
.oddDate{
	margin: 0;
	color: white;
	font-size: 30px;
}

#myForm{
	border: solid 2px black;
	margin: 20px auto;
	width: 220px;
}
#myForm h3{
	text-align: center;
}
#myForm input{
	display: block;
	margin: 20px;
	width: 80%;

}
#formButt{
	display: block;
	margin: auto;
	margin-bottom: 20px;
	width: 80%;
}