td{
	width: 25px;
	height: 25px;
	border-collapse: collapse;
}
table{
	border-spacing: 0;
	border-collapse: collapse;
}
.tableData1{
	background-color: #654321;
}
.tableData2{
	background-color: tan;
}

.evenDate{
	margin: 0;
	color: white;
	font-size: 30px;
}
.oddDate{
	margin: 0;
	color: white;
	font-size: 30px;
}